body, #diceTable, #diceStatsTable{
    background-color: black;
    color:white;
    text-align: center;
    margin: 0 auto;
}

hr {
    color:red;
}

#diceTable, #diceStatsTable{
    border-collapse: collapse;
    padding: 0px;
    width:75%;
    font-size: .9em;
}

#diceStatsTable{
    border: 1px solid red;
}

#diceStatsTable th{
    color:red;
}

#diceStatsTable td{
    color: lightblue;
    font-size: 1em;
}

header, main, footer{
    text-align: center;
    padding: 0px;
    padding-bottom: 0;
    width:1000px;
    margin: 0 auto; 
}

figure{
    float:left;
}

header p{
    font-family: "Comic Sans MS";
    font-weight: bolder;
    font-size: 15px;
}

header h1{
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    font-size: 55px;
}

#roll{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color:gold;
}

#rollButton{
    background-color: gold;
    color:red;
    font-style: italic;
    font-weight: bold;
}

footer {
    font-size: .75em;
    font-style:italic;
}