.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .75em;
}

@media(max-width:1000px)  {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .collapse.in {
      display: block !important;
    }
    
    .navbar-toggle { 
        display: block !important; 
    } 
 
    .navbar-header {
        float: none;
    }
}